/* Import your Components */
@import url("./variables.css");
@import url("./buttons.css");
@import url("typography.css");
@import url("./sections/hero.css");
@import url("sections/about.css");
@import url("sections/projects.css");
@import url("sections/banner.css");
@import url("sections/contact.css");
@import url("sections/footer.css");
@import url("./queries.css");

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Section */
section {
  padding: 5rem 0rem;
}

#particles-js {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* Language Navigation */
.lang-nav {
  position: relative;
  text-align: center;
  list-style: none;
  margin: 2rem 0 0 0;
}

.lang-nav li {
  display: inline-block;
  margin: 5px 5px;
  
}
.lang-nav li a {
  padding: 5px 6px;
  background-color: #efeffe;
  border-radius: 50%;
}

.lang-nav li a img,
.ro-flag img {
  width: 17px;
}

.ro-flag {
  position: relative;
  text-align: left;
}

.ro-flag li {
  list-style: none;
}

.ro-flag li a {
  padding: 5px 6px;
  border-radius: 50%;
}