/* MEDIA QUERY MANAGER */

/* Combined min-max-width Boostrap Breakpoints */
/* ============================= */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Typography */

  /* Buttons.css */

  /* Footer.css */

  /* SECTIONS */
  /* Hero.css */

  /* About.css */

  /* Projects.css */

  /* Contact.css */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Typography */

  /* Buttons.css */

  /* Footer.css */

  /* SECTIONS */
  /* Hero.css */
  #hero .hero-title {
    font-size: 4rem;
  }

  /* About.css */

  /* Projects.css */

  /* Contact.css */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Typography */

  /* Buttons.css */

  /* Footer.css */

  /* SECTIONS */
  /* Hero.css */
  #hero .hero-title {
    font-size: 4rem;
  }
  #hero .container {
    max-width: 100% !important;
  }
  /* About.css */

  /* Projects.css */

  /* Contact.css */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Typography */

  /* Buttons.css */

  /* Footer.css */

  /* SECTIONS */
  /* Hero.css */
  #hero .hero-title {
    font-size: 3rem;
  }

  #hero .hero-cta a {
    font-size: 2rem;
  }
  /* About.css */

  /* Projects.css */

  /* Contact.css */
  #contact .grid-for-contact {
    display: block !important;
  }

  #contact .grid-for-contact .contact-wrapper:first-child::after {
    content: " ";
    display: block;
    border: 0;
    width: 35rem;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -moz-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -ms-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -o-linear-gradient(left, transparent, #8c8b8b, transparent);
    margin: 0 auto;
    margin-top: 5rem;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Typography */
  .section-title {
    font-size: 2.8rem !important;
  }
  #about .about-wrapper__info-text {
    text-align: center !important;
    align-items: center;
  }
  /* Buttons.css */

  /* Footer.css */

  /* SECTIONS */
  /* Hero.css */
  #hero {
    padding: 0 1rem !important;
  }
  #hero .hero-title {
    font-size: 2.3rem;
  }
  #hero .hero-cta a {
    font-size: 2rem;
  }
  /* About.css */

  /* Projects.css */
  #projects .project-wrapper__text {
    padding: 0 1rem;
  }

  /* Contact.css */
  #about .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  #contact .grid-for-contact {
    display: block !important;
  }

  #contact .grid-for-contact .contact-wrapper:first-child::after {
    content: " ";
    display: block;
    border: 0;
    width: 35rem;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -moz-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -ms-linear-gradient(left, transparent, #8c8b8b, transparent);
    background-image: -o-linear-gradient(left, transparent, #8c8b8b, transparent);
    margin: 0 auto;
    margin-top: 5rem;
  }
}








/* Custom Breakpoints for Responsive Design */
/* ======================================== */

/* for-phone-xs-only */
@media (max-width: 441px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
}

/* for-phone-landscape-only */
@media (max-width: 599px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */

}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */

}

/* for-desktop-up */
@media (min-width: 1200px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */

}

/* for-big-desktop-up */
@media (min-width: 1800px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
}


/* This is Boostrap Responsive BreakPoints */
/* ======================================= */

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
  
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
/* Typography */

/* Buttons.css */

/* Footer.css */

/* SECTIONS */
/* Hero.css */

/* About.css */

/* Projects.css */

/* Contact.css */
}