#about {
  background-color: var(--primary-color);
  background-image: linear-gradient(
  135deg,
  var(--primary-color) 0%,
  var(--secondary-color) 100%);
  color: var(--white-color);
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 50% 100%, 0 98%);
  clip-path: polygon(0 0, 100% 0, 100% 98%, 50% 100%, 0 98%);
  padding-bottom: 8rem;
}

.about-wrapper .about-wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.about-wrapper__image {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.about-wrapper__image .rounded {
  border-radius: 50% !important;
  padding: 0.8rem;
}

.about-wrapper__info {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.about-wrapper__info-text {
  text-align: left;
  color: #e6e6e6;
}

.about-wrapper__info-text--important {
  background: darken var(--secondary-color, 1%);
  display: inline-block;
  font-style: italic;
  padding: 0 0.3rem;
  margin: 0.3rem 0;
  line-height: 1.6;
}